* {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                letter-spacing: 2px;
                gap:10px;
}

#rick{
                margin-top: 30px;
                margin-bottom: 35px;
}

.form .warning {
                margin-bottom: 30px;
}

.form input {
                margin-top: 5px;
                margin-bottom: 30px;
                font-size: large;
                font-weight: 500;
}

.form input::placeholder{
                color: rgba($color: #191970, $alpha: 0.75);
}
 
.form .btn {
                background-color: #69a1d4;
                color: #000000;
                font-size: 20px;
                font-weight: 700;
                padding: 20px;
                border-radius: 10px;
                cursor: pointer;

}

h1{
                margin-top: 7%;
                color: rgba($color: #191970, $alpha: 0.75);
                font-weight: 550;
}
