* {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: Comic Sans MS;
}

#rick{
                margin-top: 30px;
                margin-bottom: 35px;
}

.form .warning {
                margin-bottom: 30px;
}

.form input {
                margin-top: 5px;
                margin-bottom: 30px;
                font-size: medium;
                font-weight: 500;
}

.form input::placeholder{
                color: #000;
}
 
.form .btn {
                background-color: #69a1d4;
                color: #ededed;
                font-size: 20px;
                font-weight: 700;
                padding: 20px;
                border-radius: 10px;
                cursor: pointer;

}
