@use "bootstrap/scss/bootstrap";

.tbs {
                height: 650px;
                overflow:scroll;
                margin-top: -40px;
}

tr {
                text-align: center;
}

#redireciona {
                color: #fff;
                font-size: 40px;
                font-weight: 700;
                cursor: pointer;
}

a {
                margin: 0 auto;
                text-decoration: none;
                font-size: larger;
                background-color: brown;
                color: white;
                padding: 20px;
                border-radius: 20px;
                margin: 0 auto;
                cursor: pointer;
}

.btvol {
                display: flex;
}

#ultimo{
                color: white;
}