@use "bootstrap/scss/bootstrap";

.container {
  display: flex;
  align-items: center;
  min-width: 100vw;
  border-radius: 10px;
  box-shadow: 1px 1px 30px 6px rgba(137, 137, 137, 0.5);
  //font-family: Comic Sans MS;
  color: #191970;
  gap: 50px;

  & img {
    border-radius: 200px;
  }
}

.conteudo {
  box-shadow: 1px 1px 30px 6px rgba(137, 137, 137, 0.5);
  border-radius: 150px;
}

.dados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  margin-left: 2vh;
  padding: 20px;

  & h2 {
    margin-bottom: 25px;
  }

  & p {
    font-size: larger;
    color: rgba($color: blue, $alpha: 0.8);
  }

  & a {
    text-decoration: none;
    font-size: larger;
    background-color: brown;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    cursor: pointer;
  }
}