@use "bootstrap/scss/bootstrap";

.container {
  display: flex;
  align-items: center;
  min-width: 100vw;
  border-radius: 10px;
  box-shadow: 1px 1px 30px 6px rgba(137, 137, 137, 0.5);
  //font-family: Comic Sans MS;
  gap:50px;

  & img {
    border-radius: 10px;
  }
}

.dados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  margin-left: 2vh;
  padding: 20px;

  & h2 {
    margin-bottom: 25px;
  }

  & p {
    font-size: larger;
    color: rgba($color: blue, $alpha: 0.8);
  }
}

h1,h2,h3 {
    font-weight: 550;
    color: #191970;
}