<div class="container">
                <app-menu></app-menu>
                <img src="https://rickandmortyapi.com/api/character/avatar/2.jpeg" alt="Morty">
                <div class="dados">
                                <h1>{{welcome.toString().replace('Signal','').replace('[','').replace(']','').replace(':','')}}</h1>
                                <br>
                                <h2>Murilo</h2>
                                <h3>Status</h3>
                                <p>Alive</p>
                                <h3>Espécie</h3>
                                <p>Humano</p>
                                <h3>Gênero</h3>
                                <p>Masculino</p>
                </div>
</div>