<div class="container">
                <div class="dados">
                                <h2>{{detalhesLocalizacao.name}}</h2>
                                <h3>Url</h3>
                                <p>{{detalhesLocalizacao.url}}</p>
                                <h3>Data de criação</h3>
                                <p>{{detalhesLocalizacao.created}}</p>
                                <h3>Tipo</h3>
                                <p>{{detalhesLocalizacao.type}}</p>
                                <h3>Dimensão</h3>
                                <p>{{detalhesLocalizacao.dimension}}</p>
                                <a routerLink={{voltar}}>Voltar</a>
                </div>
</div>