@use "bootstrap/scss/bootstrap";

.container {
                display: flex;
                align-items: center;
                min-width: 100vw;
                border-radius: 10px;
                box-shadow: 1px 1px 30px 6px rgba(137, 137, 137, 0.5);
                font-family: Comic Sans MS;
                gap: 50px;
}

.conteudo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 50px;
}
.tbs {
                height: 650px;
                overflow: scroll;
                margin-top: -45px;
}

tr {
                text-align: center;
}

#redireciona {
                color: #fff;
                font-size: 40px;
                font-weight: 700;
                cursor: pointer;
}

a {
                text-decoration: none;
                font-size: larger;
                background-color: brown;
                color: white;
                padding: 20px;
                border-radius: 20px;
                margin: 0 auto;
                cursor: pointer;
}

.btvol{
                display: flex;
                gap: 42px;
}

#ultimo{
                color: white;
}

h1 {
    font-weight: 550;
    color: rgba($color: #191970, $alpha: 0.75);
}